#encabezadoinicio{
    background-image: url(../Recursos/city.jpg);
    background-size: cover;
}
#piepagina{
    background-image: url(../Recursos/bgfooter.jpg);
    background-size: cover;
}
.bootstrapimg{
    background-image: url(../Recursos/bootstraplogo.png);
    background-size: cover;
    height: 10em;
    width: 10em;
}
#datosencabezadoinicio{
    color: white;
}
#submenuinicio{
    text-align: right;
}
.mifoto{
    height: 170px;
    background-image: url(../Recursos/mifoto.jpg);
    background-size: cover;
}
#bg-orange{
    background-color:orangered;
}
#icongit{
    width:50px;
    height:50px;
}
#iconfb{
    width:58px;
    height:58px;
}
.fakeimg {
    height: 200px;
    background: #aaa;
}
#acercadetitle{
    border-left: orangered;
    border-left-style: solid;
    border-left-width: 0.175em;
    padding-left: 0.2em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}
body {
    background: white;
    background: linear-gradient(to bottom, white, rgba(0, 0, 0, 0.555));
  }